@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap");
main {
  height: 649px;
  width: auto; }
  main h2 {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #fffffff1;
    font-weight: bold; }
  main section {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100%; }
    main section div div div div {
      background-color: black; }
      main section div div div div h5 {
        padding: 1rem; }
      main section div div div div p {
        font-weight: bold; }

.catalogo {
  height: 1700px; }
  .catalogo div div div div img {
    height: 30px; }

.contacto {
  height: 665px; }

.Fondo_pantalla .carrito {
  height: 50px; }
  .Fondo_pantalla .carrito .Subtitulos__main {
    background-color: #000000;
    color: #fffffff1;
    font-weight: bold;
    display: flex;
    justify-content: center; }

.Playlist .destaPadre {
  display: grid;
  height: 1000px;
  grid-template-columns: 500px 500px;
  grid-template-rows: 460px 460px;
  grid-template-areas: "a1 a2" "a3 a4";
  align-content: space-between;
  justify-content: space-evenly;
  justify-items: center; }
  .Playlist .destaPadre .carta {
    background-color: #0a0a0a;
    width: 460px;
    height: 400px;
    border-radius: 1rem; }
    .Playlist .destaPadre .carta .carta__img {
      color: #ffffff;
      width: 440px;
      height: 250px;
      padding-left: 1rem;
      padding-top: 0.5rem;
      border-radius: 1rem; }
    .Playlist .destaPadre .carta .carta__titulo {
      display: flex;
      justify-content: center;
      color: #ffffff;
      font-weight: bold;
      font-size: 17px;
      margin-top: 0,8rem;
      align-items: center;
      padding-top: 1rem; }
    .Playlist .destaPadre .carta .carta__parrafo {
      background-color: #0a0a0a;
      color: #ffffff;
      text-align: center;
      font-weight: bold;
      font-size: 13px; }
    .Playlist .destaPadre .carta .horario {
      font-size: 17px;
      font-family: 'indie flower', cursive;
      text-align: center;
      font-weight: bold;
      background-color: #0c0c0c;
      border-radius: 15px;
      color: #ffffff; }

.nosotros {
  height: 750px; }

footer div p {
  font-size: 8px;
  display: flex;
  justify-content: center; }

header h1 {
  font-weight: bold; }
  header h1 img {
    height: 100px;
    width: 100px; }

header div ul li img {
  height: 30px;
  width: 30px; }

body {
  background: linear-gradient(#2791cf9c 80%, #0c0c0c);
  font-family: 'Poppins', sans-serif; }

@media screen and (max-width: 480px) {
  .Imagen_contactos {
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: flex-start;
    padding-bottom: 2rem; }
  .Imagen__Destacada {
    width: 250px;
    height: 450px; }
  .container.contacto {
    padding-left: 1rem; }
  .contacto {
    height: 740px; }
  .nosotros div div div iframe {
    width: 250px;
    height: 150px; }
  .catalogo {
    height: 2500px; }
  .contacto2 {
    height: 760px; }
  .Playlist {
    height: 1130px; }
    .Playlist .destaPadre {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column; }
      .Playlist .destaPadre .carta {
        height: 190px;
        width: 240px; }
        .Playlist .destaPadre .carta .carta__img {
          height: 150px;
          width: 210px; }
        .Playlist .destaPadre .carta .carta__parrafo {
          color: #f5efefc5;
          font-weight: bold; }
        .Playlist .destaPadre .carta .horario {
          font-size: 15px; } }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }
