@mixin sizes ($height, $width){
    height: $height;
    width: $width;
}



@media screen and (max-width:480px) {
    .Imagen_contactos{
        display: flex;
        width: 100px;
        height: 100px;
        justify-content: flex-start;
        padding-bottom: 2rem;
    }

    .Imagen__Destacada{
        width: 250px;
        height: 450px;
    }

    .container.contacto{
        padding-left: 1rem;
    }
    .contacto{
        height: 740px;
    }

    .nosotros{
        div{
            div{
                div{
                    iframe{
                        width: 250px;
                        height: 150px;
                    }
                }
            }
        }
    }
    .catalogo{
        height: 2500px;
    }

    .contacto2{
        height: 760px;
    }
    .Playlist{
        height: 1130px;
        .destaPadre{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            .carta{
                height: 190px;
                width: 240px;
                .carta__img{
                    height: 150px;
                    width: 210px;
                }
                .carta__parrafo{
                    color: #f5efefc5;
                    font-weight: bold;
                }
                .horario{
                    font-size: 15px;
                }
            }
        }
    }
}